h2, .navbar-brand {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

body{
  background-size:100% 100%;
  font-family:"Open Sans", sans-serif;
  background-color: rgba(205,255,0,0.2);
  background-color: #EFF3E2;
  color: rgba(80,77,102,.9);
}

a.nostyle{
  color:inherit;
  text-decoration:none;
  padding:0;
  margin:0;
}
.project-text{
  font-size: .7em;
}
.about-text{
  font-size: 1.5em;
  font-weight: 300;
}

.image-container{ 
  max-width: 500px;
  max-height: 500px;
}


.screen-shot{
  width: 100%; 
  height: 100%;
  border:1px solid rgba(0,0,0,0.7);
  box-shadow:0px -1px 3px rgba(0,0,0,0.1),
        0px 2px 6px rgba(0,0,0,0.5);
  border-radius:6px;
}

/*.image-container:hover:after {content:""; position:absolute; max-width: 500px; max-height: 500px; top:0; left:0; bottom:0; right:0; background-color: rgba(0,0,0,0.3); border-radius:6px;}*/

div.portfoliocard{
  position:relative;
  height:450px;
  width:400px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(0,0,0,0.7);
  box-shadow:0px -1px 3px rgba(0,0,0,0.1),
        0px 2px 6px rgba(0,0,0,0.5);
  border-radius:6px;
  margin:10% auto;
  overflow:hidden;
  z-index:100;
}
div.portfoliocard div.coverphoto{
  width:100%;
  height:120px;
  background:url('http://ak8.picdn.net/shutterstock/videos/2349218/preview/stock-footage-blurred-grass-background-with-water-drops.jpg');
  background-position:center center;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
        1px 0px 2px rgba(255,255,255,0.7);
  z-index:99;
}
div.portfoliocard div.left_col, div.portfoliocard div.right_col{
  float:left;
  height:340px;
}
div.portfoliocard div.left_col{
  width:40%;
  padding-top:85px;
  box-sizing:border-box;
}
div.portfoliocard div.right_col{
  width:60%;
  background:rgba(245,245,245,1);
  border-left:1px solid rgba(230,230,230,1);
  box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
  margin-left:-1px;
  border-bottom-right-radius:5px;
}
div.portfoliocard div.profile_picture{
  width:110px;
  height:110px;
  background:rgba(255,255,255,1);
  position:absolute;
  top:65px;
  left:40px;
  border-radius:100%;
  background-image: url(../images/Me.png);
  background-size:100% 100%;
  padding:7px;
  border:4px solid rgba(255,255,255,1)
}
div.portfoliocard div.right_col h2.name{
  font-size:30px;
  font-weight:300;
  color: rgba(30,30,30,1);
  padding:0;
  margin:20px 10px 0px 30px;
}
div.portfoliocard div.right_col h3.location{
  font-size:15px;
  font-weight:300;
  color:rgba(170,170,170,1);
  padding:0;
  margin:-5px 10px 10px 30px;
}
div.portfoliocard ul.contact_information{
  margin-top:20px;
  padding-left:30px;
  list-style-type:none;
}
div.portfoliocard ul.contact_information li{
  height:25px;
  width:180px;
  line-height:25px;
  font-weight:300;
  font-size:15px;
  color:rgba(140,140,140,1);
  text-shadow:1px 1px 1px rgba(255,255,255,0.8);
  padding:5px 0px;
  background-repeat:no-repeat;
  background-size:18px 18px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  box-shadow:0px 1px 1px rgba(255,255,255,0.6);
  cursor:default;
}
div.portfoliocard ul.contact_information li:before{
  content:"";
  width:25px;
  height:25px;
  display:block;
  float:left;
  background-position:center;
  background-size:18px 18px;
  background-repeat:no-repeat;
  margin-right:5px;
  opacity:0.7;
}
div.portfoliocard ul.contact_information li:hover:before{
  opacity:1;
}
div.portfoliocard ul.contact_information li.work:before{
  background-image: url('http://schulzmarcel.de/x/icons/case_24.png');
}
div.portfoliocard ul.contact_information li.website:before{
  background-image: url('http://schulzmarcel.de/x/icons/globe_24.png');
}
div.portfoliocard ul.contact_information li.mail:before{
  background-image: url('http://schulzmarcel.de/x/icons/paper_plane_24.png');
}
div.portfoliocard ul.contact_information li.phone:before{
  background-image: url('http://schulzmarcel.de/x/icons/phone_24.png');
}
div.portfoliocard ul.contact_information li.resume:before{
  background-image: url('http://schulzmarcel.de/x/icons/inbox_24.png');
}*/

.cbp-so-scroller {
    margin-top: 50px;
    overflow: hidden;
}
 
.cbp-so-section {
    margin-bottom: 15em;
    position: relative;
}
 
/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}
 
.cbp-so-section:after {
    clear: both;
}
 
/* Text styling */
.cbp-so-section h3 {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 3em;
    font-weight: 300;
    line-height: 1;
}
 
.cbp-so-section p {
    font-size: 2em;
    font-weight: 300;
}
 
/* Sides */
.cbp-so-side {
    width: 50%;
    float: left;
    margin: 0;
    padding: 3em 4%;
    overflow: hidden;
    min-height: 12em;
}
 
/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}
 
.cbp-so-side:after {
    clear: both;
}
 
.cbp-so-side-right {
    text-align: left;
}
 
.cbp-so-side-left {
    text-align: right;
}
 
.cbp-so-side-right img {
    float: left;
}
 
.cbp-so-side-left img {
    float: right;
}
 
/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
 
.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}
 
.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}
 
/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}
 
 /*For example, add a delay for the right side:*/
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/*img{
  max-width: 500px;
  max-height: 500px;
}*/

 
/* Example media queries */
 
/*@media screen and (max-width: 73.5em) {
    .cbp-so-scroller {
        font-size: 65%;
    }
 
    .cbp-so-section h2 {
        margin: 0;
    }
 
    .cbp-so-side img {
        max-width: 120%;
    }
}
 
@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }
 
    .cbp-so-side img {
        max-width: 100%;
    }
}*/
